*{
    margin: 0;
    padding: 30px;
    font-size: 15px;
}
main{
    text-align: center;
    display: grid;
    grid-template-areas: 
    'a a a b'
    'c c d d'
    'c c e e'
    ;
    gap: 10px;
  height: 50%;
   }
   main div{
    text-align: center;
    padding: 2em;
    border-radius: 10px;
   }
    .red{
    background-color: rgba(255, 68, 0, 0.912);
    grid-area: a;
    height: 70px;

   }
.orange{
   background-color: orange;
   grid-area: b;
   
}
.green{
    background-color: rgba(10, 152, 10, 0.775);
    grid-area: c;
    
}
.blue{
    background-color: rgba(0, 138, 163, 0.655);
    grid-area: d;
   
}
.blue1{
    background-color: rgba(0, 138, 163, 0.655);
    grid-area: e;
    height: 70px;
}
